# Python Coding On Tuple

# Assignment

### Question 1: Write a Python program to create an empty tuple.

In [28]:
tup=()
print(type(tup))

<class 'tuple'>

### Question 2: Write a Python program to access the elements of a tuple.

In [27]:
mytup=('Simran', 9.6, 'Jay', 77, 7, 89, 98, 'bhumi')

#access the element
print(mytup[0])
print(mytup[1])
print(mytup[2])
print(mytup[6])
print(mytup[-1])
print(mytup[-4])
print(mytup[3])

Simran
9.6
Jay
98
bhumi
7
77

### Question 3: Write a Python program to concatenate two tuples.

In [22]:
a=("Simran",9.6,"Jay",77)
b=(77,89,98,"bhumi")

#concatenate the tuble

c=a+b
print("Concatination of the tuple is:",c)

Concatination of the tuple is: ('Simran', 9.6, 'Jay', 77, 77, 89, 98, 'bhumi')

### Question 4: Write a Python program to find the length of a tuple.

In [21]:
tup1=(56,12,89,56,74,3,41,78,5)
count=0
for i in tup1:
    count=count+1
print("The length of a tuple is:",count)

The length of a tuple is: 9

### Question 5: Write a Python program to convert a tuple into a list.

In [19]:
tup1=(56,12,89,56,74,3,41)
print(type(tup1))

b=list(tup1)
print(b)
print(type(b))

<class 'tuple'>
[56, 12, 89, 56, 74, 3, 41]
<class 'list'>

### Question 6: Write a Python program to find the maximum and minimum elements in a tuple.

In [17]:
tup=(56,12,89,56,74,3,41)
a=(min(tup))
b=(max(tup))

print("Maximum number in the tuple is:",b)
print("Minimum number in the tuple is:",a)

Maximum number in the tuple is: 89
Minimum number in the tuple is: 3

### Question 7: Write a Python program to check if an element exists in a tuple.

In [32]:
ab1=("humanity","Goal","Book")
print("humanity" in ab1)
print("Book" in ab1)
print("Keep" in ab1)

True
True
False

### Question 8: Write a Python program to count the number of occurrences of an element in a tuple.

In [44]:
a=(76,6,4,6,7,8,6,7)
a.count(6)
a.count(7)

2

### Question 9: Write a Python program to slice a tuple.

In [5]:
ab=(5,6,7,8,4,6,9,7,4)
#from 3rd element till 6th 
print(ab[3:7])

#from 2nd to 5th
print(ab[2:6])

#from starting to last 3rd
print(ab[:-2])

#from 5th from end to last 3rd
print(ab[-5:-2])

(8, 4, 6, 9)
(7, 8, 4, 6)
(5, 6, 7, 8, 4, 6, 9)
(4, 6, 9)

### Question 10: Write a Python program to unpack a tuple into multiple variables.

In [9]:
abc=(5,6,7,8,4,6,9,7,4)

#unpacking

a,*b,c=abc               #I'll give first element to a, last to c and remaining to b that's why i used * symbol
print(a,b,c)

5 [6, 7, 8, 4, 6, 9, 7] 4